<div class="new-article-container">
  <div class="article-top-line flex">
    <div class='red-line'></div>
    <div class='gray-line'></div>
  </div>
  
  <%= render 'form', article: @article %>
  
</div>
