<form action="/signup" method="post" accept-charset="UTF-8">
  <label for="user[name]">Username: </label>
  <input name="user[name]" type="text" />
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  />
  <input type="submit" value="Submit" />
</form>

