<div class="login-container">
  <img class="login-img"
        src="https://images.freeimages.com/images/large-previews/9aa/ducks-1310663.jpg"
        alt="ducks in the water">
  
  <%= render 'form', user: @user %>
</div>
