/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&display=swap');
 /* reset */

 footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  margin: 0;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* wide */ 

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.flex {
  display: flex;
}

.alert {
  background-color: #e84545;
  padding: 1rem;
}

/* navigation bar */

nav {
  justify-content: space-between;
  box-sizing: border-box;
  height: 3rem;
}

 .navbar-link {
  margin: 1.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #847F7B;
 }

 .navbar-brand {
  font-size: 1.5rem;
  position: relative;
  bottom: 6px;
  color: #4C433D;
 }

 .brand-bike {
  position: relative;
  bottom: 4px;
  color:#F76108;
 }

 .navbar-home {
   color:#FA6000;
 }

 .navbar-session-links {
  justify-content: space-between;
 }

.link-separator {
  color: #847F7B;
  position: relative;
  top: 4px;
}

.logout-btn {
  border: none;
  background: #fff;
  position: relative;
  bottom: 2px;
}

/* homepage main content */
.article-top-line {
  width: 100%;
  height: 7px;
}

.red-line {
  width: 20%;
  background-color: #E8072F;
}

.gray-line {
  width: 80%;
  background-color: #847F7B;
}

.main-article {
  position: relative;
}

.main-article-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 20%;
  opacity: 0.8
}

.main-article-info {
  position: absolute;
  bottom: 67px;
  padding-left: 1rem;
}

.main-article-title {
  color:#FA6000;
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.main-article-caption {
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
}

.categories {
  position: relative;
  top: -3px;
}

.category-item {
  width: 25%;
  position: relative;
}

.category-title {
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  position: absolute;
  top: 12px;
  padding-left: 1rem;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #FEFE00;
  text-decoration-thickness: 3px;
}

.category-article-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.category-article-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
}
