/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&display=swap');

 /* reset */

 footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  margin: 0;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
}

/* wide */ 

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.reverse {
  flex-direction: row-reverse;
}

.alert {
  background-color: #e84545;
  padding: 1rem;
}
/* navigation bar */

nav {
  justify-content: space-between;
  box-sizing: border-box;
  height: 3rem;
}

 .navbar-link {
  margin: 1.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #847F7B;
 }

 .navbar-brand {
  font-size: 1.5rem;
  position: relative;
  bottom: 6px;
  color: #4C433D;
 }

 .brand-bike {
    position: relative;
    bottom: 4px;
  color:#F76108;
 }

 .navbar-home {
   color:#FA6000;
 }

 .navbar-session-links {
  justify-content: space-between;
 }

.link-separator {
  color: #847F7B;
  position: relative;
  top: 4px;
}

.logout-btn {
  border: none;
  background: #fff;
  position: relative;
  bottom: 2px;
}

/* footer */ 

footer {
  margin-top: -3px;
  height: 67px;
  justify-content: space-between;
  align-items: center;
  background-color: #4E443E;
  z-index: 10;
}

.footer-brand {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
}

.footer-bike {
  position: relative;
  bottom:3px;
}

.footer-link {
  font-size: 0.8rem;
  margin-right: 0.8rem;
}

.link-orange {
  color: #FA6000;
}

.link-white {
  color: #fff;
}

.social-icons {
  align-items: center;
}

.social-icon {
  padding-right: 2px;
  font-size:1.3rem;
}
