<nav class="navbar navbar-expand my-0">
  <div class="container-fluid">
    <div><a href="#" class="navbar-brand">OutdoorLife</a><i class="fas fa-campground"></i></div>
    <div ></div>
    <ul>
      <li class='navbar-item'><%=navbar_button_sign_up%></li>
      <li class='navbar-item'><%=navbar_button_login%></li>
      <li class='navbar-item'><%=navbar_button_name%></li>
      <li class='navbar-item'><%=navbar_button_logout%></li>  
    </ul>
    
  </div>

</nav>